@page "{id:int}"
@model DetailsModel
@{
}
<h3>Car Details</h3>
<table>
    <tr>
        <th>Registration Number</th>
        <th>Model</th>
        <th>Vehicle Type</th>
        <th>Passages</th>
    </tr>
    <tr>
        <td>
            @Model.CarViewModel.RegistrationNumber
        </td>
    </tr>
</table>
<dl>
    <dt>Registration Number: </dt>
    <dd>@Model.CarViewModel.RegistrationNumber</dd>
    <dt>Model</dt>
    <dd>@Model.CarViewModel.Model</dd>
    <dt>Vehicle Type</dt>
    <dd>@Model.CarViewModel.VehicleType</dd>
    <dt>Passages</dt>    
    <dd>
        @if (Model.CarViewModel.Passages != null)
        {
            @Model.CarViewModel.Passages.Count
        }
        else
        {
            <label>0</label>
        }
    </dd>
</dl>
<h3>Passages Details</h3>
<table class ="table table-sm">
    <tr>
        <th>Date</th>
        <th>Camera</th>
    </tr>
    @foreach (var item in @Model.CarViewModel.Passages)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item)<br />
            </th>
        </tr>
    }
</table>
<form method="post">
    <button type="submit" class="btn btn-danger" asp-page-handler="Delete" asp-route-id="@Model.CarViewModel.Id">
        Delete
    </button>
</form>