@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var cars = await Model.GetAllCarsAsync();
}

<h3>Car List</h3>

<table class="table table-sm">
    <tr>
        <th>Registration Number</th>
        <th>Model</th>
        <th>Vehicle Type</th>
        <th>Passages</th>    
    </tr>
    
    @foreach (var item in cars)
    {
        <tr>
            <td>                
                <a class="nav-link text-dark" asp-area="" asp-route-id="@item.Id" asp-page="/CarPage/Details">@Html.DisplayFor(modelItem => item.RegistrationNumber)</a>                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)<br />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)<br />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passages.Count)<br />
            </td>
            <td>
                <a class="nav-link text-dark" asp-area="" asp-route-id="@item.Id" asp-page="/CarPage/Update">Update</a>                
            </td>


        </tr>
    }
</table>